Source: cpp-redis-4-3-1-0
Version: 4.3.1
Build-Depends: tacopie-3-2-0-0
Description: cpp-redis is a C++11 Asynchronous Multi-Platform Lightweight Redis Client, with support for synchronous operations and pipelining.
