Source: azure-uhttp-c-2019-03-18-0
Version: 2019-03-18
Build-Depends: azure-c-shared-utility-2019-03-18-0
Description: Azure HTTP Library written in C

Feature: public-preview
Description: Azure HTTP Library written in C (public preview)
Build-Depends: azure-c-shared-utility-2019-03-18-0[public-preview]
