Source: g2o-20170730-git-4-0
Version: 20170730_git-4
Build-Depends: suitesparse-5-1-2-0, eigen3-3-3-7-0, clapack-3-2-1-2-0, ceres-1-14-0-1-0
Description: g2o: A General Framework for Graph Optimization http://openslam.org/g2o.html
