Source: aubio-0-4-6-967e4041f-2-0
Version: 0.4.6-967e4041f-2
Description: Aubio is a tool designed for the extraction of annotations from audio signals. Its features include segmenting a sound file before each of its attacks, performing pitch detection, tapping the beat and producing midi streams from live audio.
Build-Depends: ffmpeg-4-1-0, libsndfile-1-0-29-6830c42-5-0, libogg-1-3-3-0, libflac-1-3-2-6-0, libvorbis-1-3-6-112d3bd-1-0, bzip2-1-0-6-3-0, liblzma-5-2-4-0
