Source: azure-uamqp-c-2019-03-18-1-0
Version: 2019-03-18-1
Build-Depends: azure-c-shared-utility-2019-03-18-1-0, azure-macro-utils-c-2019-04-11-1-0, umock-c-2019-04-11-1-0
Description: AMQP library for C

Feature: public-preview
Description: AMQP library for C (public preview)
Build-Depends: azure-c-shared-utility-2019-03-18-1-0[public-preview], azure-macro-utils-c-2019-04-11-1-0, umock-c-2019-04-11-1-0
