Source: cppgraphqlgen-3-0-0-pre-0
Version: 3.0.0-pre
Build-Depends: boost-filesystem-1-69-0-0 (!uwp&!windows), boost-program-options-1-69-0-0, pegtl-3-0-0-pre-0, rapidjson-1-1-0-3-0
Description: C++ GraphQL schema service generator
