Source: raylib-2019-04-27-2-0
Version: 2019-04-27-2
Description: A simple and easy-to-use library to enjoy videogames programming
#Build-Depends: glfw3

Feature: non-audio
Description: Build raylib without audio module
