Source: uwebsockets-0-14-6-1-0
Version: 0.14.6-1
Build-Depends: libuv-1-19-2-0, openssl-1-0-2n-2-0, zlib-1-2-11-3-0
Description: Highly scalable cross-platform WebSocket & HTTP library for C++11 and Node.js
