Source: nrf-ble-driver-4-1-0-0
Version: 4.1.0
Description: BLE driver is a library for Bluetooth Low Energy communication using Nordic Semiconductor development kits.
Build-Depends: asio-1-12-2-0, catch2-2-7-2-0
