Source: evpp-0-5-0-0
Version: 0.5.0
Description: A modern C++ network library based on libevent for developing high performance network services in TCP/UDP/HTTP protocols.
Build-Depends: glog-0-3-4-0472b91-1-0, libevent-2-1-8-1-0
