Source: azure-iot-sdk-c-1-2-3-0
Version: 1.2.3
Build-Depends: azure-uamqp-c-1-2-3-0, azure-umqtt-c-1-1-3-0, azure-c-shared-utility-1-1-3-0, parson-2018-04-17-0
Description: A C99 SDK for connecting devices to Microsoft Azure IoT services 
