Source: wt-3-3-7-2-0
Version: 3.3.7-2
Description: Wt is a C++ library for developing web applications
Build-Depends: boost-1-65-1-0, openssl-1-0-2l-2-0, sqlite3-3-19-1-2-0, libpq-9-6-1-1-0, pango-1-40-11-1-0
