Source: pangomm-2-40-1-0
Version: 2.40.1
Description: pangomm is the official C++ interface for the Pango font layout library. See, for instance, the Pango::Layout class.
Build-Depends: glib-2-52-3-1-0, gettext-0-19-2-0, cairo-1-15-8-1-0, fontconfig-2-12-4-1-0, freetype-2-8-1-0, harfbuzz-1-6-3-1-0, pango-1-40-11-1-0, cairomm-1-15-3-2-0, glibmm-2-52-1-0
