Source: boost-hana-msvc-1-67-0-1-0
Version: 1.67.0-1
Build-Depends: boost-config-1-68-0-0, boost-core-1-68-0-0, boost-fusion-1-68-0-0, boost-mpl-1-68-0-0, boost-tuple-1-68-0-0, boost-vcpkg-helpers-4-0
Description: Boost hana module
