Source: cartographer-0-3-0-4-0
Version: 0.3.0-4
Build-Depends: ceres-1-14-0-1-0[eigensparse], gflags-2-2-1-3-0, glog-0-3-5-1-0, lua-5-3-4-4-0, cairo-1-15-8-1-0, boost-iostreams-1-67-0-0, gtest-1-8-0-8-0, protobuf-3-5-1-2-0
Description: Google 2D & 3D SLAM package
