Source: fastrtps-1-5-0-0
Version: 1.5.0
Description: Eprosima Fast RTPS is a C++ implementation of the RTPS (Real Time Publish Subscribe) protocol, which provides publisher-subscriber communications over unreliable transports such as UDP, as defined and maintained by the Object Management Group (OMG) consortium.
Build-Depends: openssl-1-0-2o-1-0, asio-1-12-0-2-0, tinyxml2-6-2-0-0
