Source: itk-4-11-0-0
Version: 4.11.0
Description: Insight Segmentation and Registration Toolkit (ITK) is used for image processing and analysis.
Build-Depends: libjpeg-turbo-1-5-2-2-0, zlib-1-2-11-3-0, libpng-1-6-32-1-0, tiff-4-0-8-1-0, expat-2-2-4-2-0
