Source: theia-0-7-d15154a-3-0
Version: 0.7-d15154a-3
Build-Depends: flann-1-9-1-7-0, cereal-1-2-2-1-0, ceres-1-14-0-1-0[suitesparse] (!x86&!uwp&!arm&!linux&!osx), openimageio-1-8-10-0, glew-2-1-0-1-0, freeglut-3-0-0-3-0
Description: An open source library for multiview geometry and structure from motion
