Source: dlib-19-17-0
Version: 19.17
Build-Depends: libjpeg-turbo-2-0-1-1-0, libpng-1-6-37-1-0, sqlite3-3-27-2-0, fftw3-3-3-8-6-0, openblas-0-3-6-2-0 (!osx), clapack-3-2-1-4-0 (!osx)
Description: Modern C++ toolkit containing machine learning algorithms and tools for creating complex software in C++

Feature: cuda
Build-Depends: cuda-9-0-0
Description: CUDA support for dlib
