Source: hdf5-1-10-5-4-0
Version: 1.10.5-4
Description: HDF5 is a data model, library, and file format for storing and managing data
Build-Depends: zlib-1-2-11-5-0, szip-2-1-1-3-0

Feature: parallel
Description: parallel support for HDF5
Build-Depends: msmpi-10-0-0

Feature: cpp
Description: Builds cpp lib
