Source: magnum-extras-2019-01-1-0
Version: 2019.01-1
Build-Depends: magnum-2019-01-1-0[core]
Description: Extras for magnum, C++11/C++14 graphics middleware for games and data visualization http://magnum.graphics/
Default-Features:

Feature: ui
Description: Ui library
Build-Depends: corrade-2019-01-1-0[interconnect], magnum-2019-01-1-0[text]
