Source: blaze-3-4-1-0
Version: 3.4-1
Build-Depends: clapack-3-2-1-1-0, boost-exception-1-68-0-0
Description: Blaze is an open-source, high-performance C++ math library for dense and sparse arithmetic.
