Source: osg-3-6-3-0
Version: 3.6.3
Description:  The OpenSceneGraph is an open source high performance 3D graphics toolkit.
Build-Depends: freetype-2-9-1-1-0, jasper-2-0-14-1-0, openexr-2-3-0-2-0, zlib-1-2-11-5-0, gdal-2-4-1-4-0, giflib-5-1-4-3-0, libjpeg-turbo-2-0-1-1-0, libpng-1-6-37-1-0, tiff-4-0-10-4-0

Feature: collada
Description: Support for Collada (.dae) files
Build-Depends: collada-dom-2-5-0-0
