Source: luafilesystem-1-7-0-2-0
Version: 1.7.0.2
Description: LuaFileSystem is a Lua library developed to complement the set of functions related to file systems offered by the standard Lua distribution.
Build-Depends: lua-5-3-4-1-0
