Source: intel-mkl
Version: 2020.0.0
Description: Intel® Math Kernel Library (Intel® MKL) accelerates math processing routines, increases application performance, and reduces development time on Intel® processors. 
