Source: dlib-19-7-0
Version: 19.7
Build-Depends: libjpeg-turbo-1-5-2-2-0, libpng-1-6-32-1-0, sqlite3-3-21-0-0, fftw3-3-3-7-0
Description: Modern C++ toolkit containing machine learning algorithms and tools for creating complex software in C++
