Source: azure-iot-sdk-c-1-2-14-1-0
Version: 1.2.14-1
Build-Depends: azure-uamqp-c-1-2-11-4-0, azure-umqtt-c-1-1-11-4-0, azure-c-shared-utility-1-1-11-5-0, parson-2018-12-14-0, azure-uhttp-c-1-1-11-4-0
Description: A C99 SDK for connecting devices to Microsoft Azure IoT services 

Feature: public-preview
Description: A version of the azure-iot-sdk-c containing public-preview features.
Build-Depends: azure-uamqp-c-1-2-11-4-0[public-preview], azure-umqtt-c-1-1-11-4-0[public-preview], azure-c-shared-utility-1-1-11-5-0[public-preview], azure-uhttp-c-1-1-11-4-0[public-preview]
