Source: ceres-1-14-0-3-0
Version: 1.14.0-3
# eigen is always required by CMake, even if it isn't used.
Build-Depends: glog-0-4-0-0, eigen3-3-3-7-1-0
Description: non-linear optimization package

Feature: lapack
Build-Depends: clapack-3-2-1-3-0
Description: Use Lapack in Ceres

Feature: suitesparse
Build-Depends: ceres-1-14-0-3-0[lapack], suitesparse-5-1-2-0[core]
Description: SuiteSparse support for Ceres

Feature: cxsparse
Build-Depends: suitesparse-5-1-2-0[core]
Description: CXSparse support for Ceres

Feature: eigensparse
Description: Use of Eigen as a sparse linear algebra library in Ceres

Feature: tools
Build-Depends: gflags-2-2-2-1-0
Description: Ceres tools
