Source: netcdf-c-4-4-1-1-1-0
Version: 4.4.1.1-1
Build-Depends: hdf5-1-10-0-patch1-1-0, curl-7-51-0-3-0
Description: a set of self-describing, machine-independent data formats that support the creation, access, and sharing of array-oriented scientific data.
