Source: qt5-imageformats-5-11-1-0
Version: 5.11.1
Description: Qt5 Image Formats Module - Plugins for additional image formats: TIFF, MNG, TGA, WBMP
Build-Depends: qt5-modularscripts-2018-09-10-2-0, qt5-base-5-11-1-2-0
