Source: shogun-6-1-3-0
Version: 6.1.3
Build-Depends: bzip2-1-0-6-2-0, eigen3-3-3-4-2-0, liblzma-5-2-3-2-0, libxml2-2-9-4-2-0, openblas-0-2-20-2-0, nlopt-2-4-2-c43afa08d-vcpkg1-1-0, rxcpp-4-0-0-1-0, snappy-1-1-7-1-0, zlib-1-2-11-3-0, protobuf-3-5-1-0, curl-7-58-0-4-0, lzo-2-10-2-0, dirent-1-23-1-0
Description: Unified and efficient Machine Learning
