Source: qt5-virtualkeyboard-5-11-2-0
Version: 5.11.2
Description: Qt5 Virtual Keyboard Module - A framework for implementing different input methods. Supports localized keyboard layouts and custom visual themes
Build-Depends: qt5-modularscripts-2018-11-01-1-0, qt5-base-5-11-2-1-0
