Source: qt5-imageformats-5-12-3-0
Version: 5.12.3
Description: Qt5 Image Formats Module - Plugins for additional image formats: TIFF, MNG, TGA, WBMP
Build-Depends: qt5-modularscripts-2019-04-30-0, qt5-base-5-12-3-0
