Source: libssh-0-7-5-3-0
Version: 0.7.5-3
Description: libssh is a multiplatform C library implementing the SSHv2 and SSHv1 protocol on client and server side
Build-Depends: zlib-1-2-11-3-0, openssl-1-0-2n-2-0
