Source: log4cplus-REL-1-2-1-RC2-1-0
Version: REL_1_2_1-RC2-1
Description: A simple to use C++ logging API providing thread--safe, flexible, and arbitrarily granular control over log management and configuration
