Source: qt5-purchasing-5-12-3-0
Version: 5.12.3
Description: Qt5 Purchasing Module - Enables in-app purchase of products in Qt applications.
Build-Depends: qt5-modularscripts-2019-04-30-0, qt5-base-5-12-3-0, qt5-declarative-5-12-3-0
