Source: suitesparse-5-1-2-1-0
Version: 5.1.2-1
Build-Depends: clapack-3-2-1-3-0 (!osx)
Description: algebra library

Feature: metis
Build-Depends: metis-5-1-0-3-0
Description: Use metis in SuiteSparse
