Source: pdal-1-7-1-2-0
Version: 1.7.1-2
Description: PDAL - Point Data Abstraction Library is a library for manipulating point cloud data.
Build-Depends: gdal-2-3-0-1-0, geos-3-6-2-3-0, jsoncpp-1-8-4-0, libgeotiff-1-4-2-3-0
