Source: libideviceactivation-1-2-68-0
Version: 1.2.68
Description: A library to handle the activation process of iOS devices
Build-Depends: libimobiledevice-1-2-1-215-1-0, libxml2-2-9-9-4-0, curl-7-61-1-7-0
