Source: podofo-0-9-6-5-0
Version: 0.9.6-5
Description: PoDoFo is a library to work with the PDF file format
Build-Depends: zlib-1-2-11-5-0, libpng-1-6-36-1-0, libjpeg-turbo-1-5-3-2-0, tiff-4-0-10-2-0, openssl-0-0 (!windows&!uwp), freetype-2-9-1-1-0

Feature: fontconfig
Description: Enable font manager support on Unix platforms.
Build-Depends: fontconfig-2-12-4-7-0
