Source: idevicerestore-1-0-12-2-0
Version: 1.0.12-2
Description: Restore/upgrade firmware of iOS devices
Build-Depends: libimobiledevice-1-2-1-215-1-0, curl-7-61-1-7-0, libirecovery-1-0-25-2-0, libzip-rel-1-5-2-0
