Source: azure-iot-sdk-c-1-2-1-0
Version: 1.2.1
Build-Depends: azure-uamqp-c-1-0-0-pre-release-1-0-9-0, azure-umqtt-c-1-0-0-pre-release-1-0-9-0, azure-c-shared-utility-1-1-1-0, parson-2018-03-23-0
Description: A C99 SDK for connecting devices to Microsoft Azure IoT services 
