Source: qt5-gamepad-5-12-1-0
Version: 5.12.1
Description: Qt5 Gamepad Module - Enables Qt applications to support the use of gamepad hardware
Build-Depends: qt5-modularscripts-2019-02-02-0, qt5-base-5-12-1-0
