Source: dlib-19-16-1-0
Version: 19.16-1
Build-Depends: libjpeg-turbo-1-5-3-2-0, libpng-1-6-36-0, sqlite3-3-26-0-0, fftw3-3-3-8-0, openblas-0-3-5-0, clapack-3-2-1-1-0
Description: Modern C++ toolkit containing machine learning algorithms and tools for creating complex software in C++

Feature: cuda
Build-Depends: cuda-9-0-0
Description: CUDA support for dlib
