Source: globjects-1-1-0-2018-09-19-0
Maintainer: mattias@mattiascibien.net
Version: 1.1.0-2018-09-19
Build-Depends: glbinding-3-0-2-3-0, glm-0-9-9-2-0
Description: C++ library strictly wrapping OpenGL objects. <https://github.com/cginternals/globjects>
