Source: libpng-1-6-36-0
Version: 1.6.36
Build-Depends: zlib-1-2-11-3-0
Description: libpng is a library implementing an interface for reading and writing PNG (Portable Network Graphics) format files.
