Source: usbmuxd-1-1-1-133-2-0
Version: 1.1.1.133-2
Description: A socket daemon to multiplex connections from and to iOS devices
Build-Depends: libimobiledevice-1-2-1-215-1-0, libusb-1-0-22-1-0, libusb-win32-1-2-6-0-1-0, pthreads-2-9-1-4-0
