Source: pdal-1-7-1-4-0
Version: 1.7.1-4
Description: PDAL - Point Data Abstraction Library is a library for manipulating point cloud data.
Build-Depends: gdal-2-4-1-5-0, geos-3-6-3-3-0, jsoncpp-1-8-4-1-0, libgeotiff-1-4-2-9-0, laszip-3-4-1-0
