Source: evpp-0-6-1-1-0
Version: 0.6.1-1
Description: A modern C++ network library based on libevent for developing high performance network services in TCP/UDP/HTTP protocols.
Build-Depends: glog-0-3-5-1-0, libevent-2-1-8-3-0
