Source: qt5-multimedia-5-11-2-0
Version: 5.11.2
Description: Qt5 Multimedia Module - Classes and widgets for audio, video, radio and camera functionality
Build-Depends: qt5-modularscripts-2018-11-01-1-0, qt5-base-5-11-2-1-0, qt5-declarative-5-11-2-0
