Source: qt5-declarative-5-11-2-0
Version: 5.11.2
Description: Qt5 Declarative (Quick 2) Module. Includes QtQuick, QtQuickParticles, QtQuickWidgets, QtQml, and QtPacketProtocol.
Build-Depends: qt5-modularscripts-2018-11-01-1-0, qt5-base-5-11-2-1-0
