Source: log4cplus-REL-2-0-1-0
Version: REL_2_0_1
Description: A simple to use C++ logging API providing thread--safe, flexible, and arbitrarily granular control over log management and configuration
Build-Depends: catch-alias-0
