Source: uwebsockets-0-14-2-0
Version: 0.14.2
Build-Depends: libuv-1-10-1-2-0, openssl-1-0-2k-2-0, zlib-1-2-11-0, boost-1-63-4-0
Description: Highly scalable cross-platform WebSocket & HTTP library for C++11 and Node.js
