Source: magnum-jan2018-1-0
Version: jan2018-1
Build-Depends: corrade-jan2018-1-0, sdl2-2-0-7-3-0, openal-soft-1-18-2-1-0
Description: C++11/C++14 and OpenGL graphics engine http://mosra.cz/blog/magnum.php
