Source: devil-1-8-0-2-0
Version: 1.8.0-2
Build-Depends: 
Description: A full featured cross-platform image library
Default-Features: libpng, tiff, libjpeg, openexr, jasper, lcms

Feature: libpng
Build-Depends: libpng-1-6-34-2-0
Description: Use Libpng for .png (and some .ico)

Feature: tiff
Build-Depends: tiff-4-0-9-0
Description: Use Libtiff for .tif support

Feature: libjpeg
Build-Depends: libjpeg-turbo-1-5-3-0
Description: Use Libjpeg for .jpg (and some .blp) support

Feature: openexr
Build-Depends: openexr-2-2-0-4-0
Description: Use openexr

Feature: jasper
Build-Depends: jasper-2-0-14-1-0
Description: Use JasPer for .jp2 (and some .icns) support

Feature: lcms
Build-Depends: lcms-2-8-4-0
Description: Use Little CMS for color profiles
