Source: qt5xmlpatterns-5-9-2-0-0
Version: 5.9.2-0
Description: Qt5 XML Patterns Module - Support for XPath, XQuery, XSLT and XML schema validation
Build-Depends: qt5modularscripts-0-0, qt5base-5-9-2-0-0
