Source: cairo-1-16-0-0
Version: 1.16.0
Description: Cairo is a 2D graphics library with support for multiple output devices. Currently supported output targets include the X Window System (via both Xlib and XCB), Quartz, Win32, image buffers, PostScript, PDF, and SVG file output. Experimental backends include OpenGL, BeOS, OS/2, and DirectFB.
Build-Depends: zlib-1-2-11-5-0, libpng-1-6-36-1-0, pixman-0-38-0-0, glib-2-52-3-13-0, freetype-2-9-1-1-0, fontconfig-2-12-4-8-0
