Source: azure-uamqp-c-1-2-11-2-0
Version: 1.2.11-2
Build-Depends: azure-c-shared-utility-1-1-11-3-0
Description: AMQP library for C

Feature: public-preview
Description: AMQP library for C (public preview)
Build-Depends: azure-c-shared-utility-1-1-11-3-0[public-preview]
