Source: restinio-0-4-9-1-0
Version: 0.4.9.1
Description: A header-only C++14 library that gives you an embedded HTTP/Websocket server targeted primarily for asynchronous processing of HTTP-requests.
Build-Depends: asio-1-12-2-0, fmt-5-3-0-2-0, http-parser-2-9-2-0
