Source: alembic-1-7-1-1-0
Version: 1.7.1-1
Build-Depends: ilmbase-2-2-0-0
Description: Alembic is an open framework for storing and sharing scene data that includes a C++ library, a file format, and client plugins and applications. http://alembic.io/
