Source: qt5-declarative-5-9-2-0-0
Version: 5.9.2-0
Description: Qt5 Declarative (Quick 2) Module. Includes QtQuick, QtQuickParticles, QtQuickWidgets, QtQml, and QtPacketProtocol.
Build-Depends: qt5-modularscripts-2-0, qt5-base-5-9-2-5-0
