Source: forge-1-0-3-1-0
Version: 1.0.3-1
Description: Helps with high performance visualizations involving OpenGL-CUDA/OpenCL interop.
Build-Depends: glfw3-3-3-0, glm-0-9-9-4-0, glbinding-3-0-2-5-0, freetype-2-9-1-1-0, boost-functional-1-69-0-0, freeimage-3-18-0-5-0, fontconfig-2-12-4-8-0 (!windows)
