Source: harfbuzz-1-8-4-4-0
Version: 1.8.4-4
Description: HarfBuzz OpenType text shaping engine
Build-Depends: freetype-2-8-1-4-0, ragel-6-10-1-0, gettext-0-19-7-0 (osx)
Default-Features: ucdn

Feature: graphite2
Build-Depends: graphite2-1-3-12-0
Description: Graphite2 shaper support

Feature: icu
Build-Depends: icu-61-1-5-0
Description: icu support for harfbuzz

Feature: ucdn
Description: Builtin (UCDN) Unicode callbacks support

Feature: glib
Build-Depends: glib-2-52-3-11-0
Description: Glib Unicode callbacks support
