Source: qt5-5-9-2-1-0
Version: 5.9.2-1
Description: Qt5 Application Framework
Build-Depends: qt5base-5-9-2-0-0, qt5charts-5-9-2-0-0, qt5datavis3d-5-9-2-0-0, qt5declarative-5-9-2-0-0, qt5gamepad-5-9-2-0-0, qt5imageformats-5-9-2-0-0, qt5multimedia-5-9-2-0-0, qt5scxml-5-9-2-0-0, qt5serialport-5-9-2-0-0, qt5speech-5-9-2-0-0, qt5svg-5-9-2-0-0, qt5tools-5-9-2-0-0, qt5virtualkeyboard-5-9-2-0-0, qt5websockets-5-9-2-0-0, qt53d-5-9-2-0-0, qt5winextras-5-9-2-0-0, qt5xmlpatterns-5-9-2-0-0
