Source: gdal-2-2-2-0
Version: 2.2.2
Description: The Geographic Data Abstraction Library for reading and writing geospatial raster and vector data.
Build-Depends: proj4-4-9-3-1-0, libpng-1-6-34-2-0, geos-3-6-2-2-0, sqlite3-3-21-0-0, curl-7-58-0-1-0, expat-2-2-5-0, libpq-9-6-1-1-0, libmysql-5-7-17-3-0, openjpeg-2-2-0-1-0, libwebp-0-6-1-2-0, libxml2-2-9-4-2-0, liblzma-5-2-3-2-0
