Source: azure-umqtt-c-2019-03-18-0
Version: 2019-03-18
Build-Depends: azure-c-shared-utility-2019-03-18-0
Description: General purpose library for communication over the mqtt protocol

Feature: public-preview
Description: General purpose library for communication over the mqtt protocol (public preview)
Build-Depends: azure-c-shared-utility-2019-03-18-0[public-preview]
