Source: ade-0-1-1d-0
Version: 0.1.1d
Description: ADE Framework is a graph construction, manipulation, and processing framework. ADE Framework is suitable for organizing data flow processing and execution.
