Source: gdal-2-4-1-1-0
Version: 2.4.1-1
Description: The Geographic Data Abstraction Library for reading and writing geospatial raster and vector data.
Build-Depends: proj-0-0, libpng-1-6-37-0, geos-3-6-3-3-0, sqlite3-3-27-2-0, curl-7-61-1-6-0, expat-2-2-6-0, libpq-9-6-1-6-0, openjpeg-2-3-0-1-0, libwebp-1-0-2-2-0, libxml2-2-9-9-4-0, liblzma-5-2-4-1-0, netcdf-c-4-6-2-1-0, hdf5-1-10-5-5-0

Feature: mysql-libmariadb
Build-Depends: libmariadb-3-0-2-1-0
Description: Add mysql support using libmariadb
