Source: gdal-1-11-3-5-0
Version: 1.11.3-5
Description: The Geographic Data Abstraction Library for reading and writing geospatial raster and vector data.
Build-Depends: proj-4-9-3-0, libpng-1-6-31-0, geos-3-5-0-0, sqlite3-3-19-1-1-0, curl-7-55-0-0, expat-2-1-1-1-0, libpq-9-6-1-0, libmysql-5-7-17-1-0, openjpeg-2-2-0-0, libwebp-0-6-0-1-0, libxml2-2-9-4-1-0, liblzma-5-2-3-1-0
