Source: libgeotiff-1-4-2-7-0
Version: 1.4.2-7
Description: Libgeotiff is an open source library normally hosted on top of ​libtiff for reading, and writing GeoTIFF information tags.
Build-Depends: tiff-4-0-10-1-0, proj4-4-9-3-1-0, zlib-1-2-11-3-0, libjpeg-turbo-1-5-3-2-0
