Source: sdl2-gfx-1-0-3-0
Version: 1.0.3
Build-Depends: sdl2-2-0-5-2-0
Description: Graphics primitives (line, circle, rectangle etc.) with AA support, rotozoomer and other drawing related support functions wrapped up in a C based add-on library for the Simple Direct Media (SDL) cross-platform API layer.
