Source: magnum-plugins-jun2017-5-0
Version: jun2017-5
Build-Depends: stb-20170724-9d9f75e-0, magnum-jun2017-6-0
Description: Plugins for C++11/C++14 and OpenGL graphics engine http://mosra.cz/blog/magnum.php
