Source: libtorrent-1-2-0-1-0
Version: 1.2.0-1
Description: An efficient feature complete C++ BitTorrent implementation 
Build-Depends: openssl-0-0, boost-system-1-69-0-0, boost-date-time-1-69-0-0, boost-chrono-1-69-0-0, boost-random-1-69-0-0, boost-asio-1-69-0-1-0, boost-crc-1-69-0-0, boost-config-1-69-0-0, boost-iterator-1-69-0-0, boost-scope-exit-1-69-0-0, boost-multiprecision-1-69-0-0
