Source: magnum-integration-2019-01-1-0
Version: 2019.01-1
Build-Depends: magnum-2019-01-1-0[core]
Description: Integrations for magnum, C++11/C++14 graphics middleware for games and data visualization http://magnum.graphics/
Default-Features:

Feature: bullet
Description: BulletIntegration library
Build-Depends: bullet3-2-87-0

Feature: glm
Description: GlmIntegration library
Build-Depends: glm-0-9-9-3-0

Feature: imgui
Description: ImGuiIntegration library
Build-Depends: imgui-1-67-1-0
#Feature: ovr
#Description: OvrIntegration library
#Build-Depends: ovrsdk
#Feature: dart
#Description: DartIntegration library
#Build-Depends: dart

