Source: kealib-1-4-11-0
Version: 1.4.11
Build-Depends: hdf5-1-10-5-1-0[cpp], zlib-1-2-11-5-0, szip-2-1-1-3-0
Description: kealib is gdal model using HDF5 standard.

Feature: parallel
Description: Use parallel support for HDF5
Build-Depends: hdf5-1-10-5-1-0[parallel], msmpi-10-0-0
