Source: libxml2-2-9-4-1-0
Version: 2.9.4-1
Description: Libxml2 is the XML C parser and toolkit developed for the Gnome project (but usable outside of the Gnome platform)
Build-Depends: zlib-1-2-11-0, libiconv-1-14-0, liblzma-5-2-3-1-0
