Source: globjects-1-0-0-1-0
Maintainer: mattias@mattiascibien.net
Version: 1.0.0-1
Build-Depends: glbinding-2-1-1-3-0, glm-0-9-8-5-0
Description: C++ library strictly wrapping OpenGL objects. <https://github.com/cginternals/globjects>
