Source: g2o-20170730-git-2-0
Version: 20170730_git-2
Build-Depends: suitesparse-4-5-5-3-0, eigen3-3-3-4-1-0, clapack-3-2-1-1-0, ceres-1-13-0-1-0
Description: g2o: A General Framework for Graph Optimization http://openslam.org/g2o.html
