Source: wpilib-2019-4-1-0
Version: 2019.4.1
Build-Depends: libuv-1-27-0-0
Description: WPILib is the software library package for the FIRST Robotics Competition. The core install includes wpiutil, a common utilies library, and ntcore, the base NetworkTables library.

Feature: cameraserver
Build-Depends: opencv-3-4-3-7-0
Description: Enables the CameraServer and CSCore libraries for manipulating USB Cameras and HTTP Camera Streams

Feature: allwpilib
Build-Depends: wpilib-2019-4-1-0[cameraserver] opencv
Description: Enables the simulation HAL, and the high level wpilibc library.
