Source: xerces-c-3-2-2-8-0
Version: 3.2.2-8
Description: Xerces-C++ is a XML parser, for parsing, generating, manipulating, and validating XML documents using the DOM, SAX, and SAX2 APIs.

Feature: icu
Description: ICU support
Build-Depends: icu-61-1-5-0

Feature: xmlch_wchar
Description: XMLCh type uses wchar_t

