Source: openvdb-5-0-0-1-0
Version: 5.0.0-1
Build-Depends: ilmbase-2-2-0-1-0, openexr-2-2-0-1-0, tbb-2018-U2-0, blosc-1-12-1-0, boost-iostreams-1-66-0-0, boost-system-1-66-0-0, boost-thread-1-66-0-0, boost-date-time-1-66-0-0, boost-any-1-66-0-0, boost-uuid-1-66-0-0, boost-interprocess-1-66-0-0
Description: Sparse volume data structure and tools

Feature: tools
Description: OpenVDB utilities: view, print and render
Build-Depends: glew-2-1-0-1-0, glfw3-3-2-1-2-0
