Source: azure-uhttp-c-1-1-11-3-0
Version: 1.1.11-3
Build-Depends: azure-c-shared-utility-1-1-11-4-0
Description: Azure HTTP Library written in C

Feature: public-preview
Description: Azure HTTP Library written in C (public preview)
Build-Depends: azure-c-shared-utility-1-1-11-4-0[public-preview]
