Source: cpprestsdk-2-10-4-0
Version: 2.10.4
Build-Depends: zlib-1-2-11-3-0, openssl-0-0 (!uwp), boost-system-1-67-0-0 (!uwp), boost-date-time-1-67-0-0 (!uwp), boost-regex-1-67-0-0 (!uwp), websocketpp-0-7-0-1-0 (!uwp), boost-thread-1-67-0-0 (!uwp&!windows), boost-filesystem-1-67-0-0 (!uwp&!windows), boost-random-1-67-0-0 (!uwp&!windows), boost-chrono-1-67-0-0 (!uwp&!windows)
Description: C++11 JSON, REST, and OAuth library
  The C++ REST SDK is a Microsoft project for cloud-based client-server communication in native code using a modern asynchronous C++ API design. This project aims to help C++ developers connect to and interact with services.
