Source: freeimage-3-18-0-3-0
Version: 3.18.0-3
Build-Depends: zlib-1-2-11-3-0, libpng-1-6-36-0, libjpeg-turbo-1-5-3-2-0, tiff-4-0-10-2-0, openjpeg-2-3-0-0, libwebp-1-0-2-1-0, libraw-0-19-0-1-0, jxrlib-1-1-5-0, openexr-2-3-0-2-0
Description: Support library for graphics image formats
