Source: sdl2-2-0-9-3-0
Version: 2.0.9-3
Description: Simple DirectMedia Layer is a cross-platform development library designed to provide low level access to audio, keyboard, mouse, joystick, and graphics hardware via OpenGL and Direct3D.

Feature: vulkan
Description: Vulkan functionality for SDL
Build-Depends: vulkan-1-1-82-1-1-0
