Source: opencv-3-4-0-1-0
Version: 3.4.0-1
Build-Depends: zlib-1-2-11-3-0, libpng-1-6-34-2-0, libjpeg-turbo-1-5-3-0, tiff-4-0-9-0, protobuf-3-5-1-0 (windows)
Description: computer vision library

Feature: sfm
Build-Depends: eigen3-3-3-4-2-0, glog-0-3-5-1-0, gflags-2-2-1-1-0
Description: opencv_sfm module

Feature: cuda
Build-Depends: cuda-8-0-1-0
Description: CUDA support for opencv

Feature: ffmpeg
Description: prebuilt ffmpeg support for opencv

Feature: qt
Build-Depends: qt5-5-9-2-1-0
Description: Qt GUI support for opencv

Feature: vtk
Build-Depends: vtk-8-1-0-1-0
Description: vtk support for opencv

Feature: gdcm
Build-Depends: gdcm2-2-8-3-0
Description: GDCM support for opencv
