Source: magnum-jun2017-6-0
Version: jun2017-6
Build-Depends: corrade-jun2017-3-0, sdl2-2-0-5-4-0, openal-soft-1-18-1-1-0
Description: C++11/C++14 and OpenGL graphics engine http://mosra.cz/blog/magnum.php
