Source: openimageio-1-8-16-0
Version: 1.8.16
Description: A library for reading and writing images, and a bunch of related classes, utilities, and application
Build-Depends: libjpeg-turbo-1-5-3-1-0, tiff-4-0-9-6-0, libpng-1-6-35-1-0, openexr-2-2-1-1-0, boost-thread-1-68-0-0, boost-smart-ptr-1-68-0-0, boost-foreach-1-68-0-0, boost-regex-1-68-0-0, boost-type-traits-1-68-0-0, boost-static-assert-1-68-0-0, boost-unordered-1-68-0-0, boost-config-1-68-0-0, boost-algorithm-1-68-0-0, boost-filesystem-1-68-0-0, boost-system-1-68-0-0, boost-thread-1-68-0-0, boost-asio-1-68-0-1-0, boost-random-1-68-0-0, robin-map-0-2-0-0

Feature: libraw
Build-Depends: libraw-0-19-0-1-0
Description: Enable RAW image files support
