Source: freeimage-3-17-0-2-0
Version: 3.17.0-2
Build-Depends: zlib-1-2-11-0, libpng-1-6-28-1-0, libjpeg-turbo-1-5-1-1-0, tiff-4-0-8-0, openjpeg-2-1-2-1-0, libwebp-0-6-0-1-0, libraw-0-18-0-1-0, jxrlib-1-1-2-0, openexr-2-2-0-0
Description: Support library for graphics image formats
